*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
=================
Global CSS variables 
=================
*/
:root{
  --nav-background-color: darkblue;
  --text-color-darkblue:darkblue;
  --text-align: center;
}





/*
==================
General Styles
==================
*/
h1 {
  color: var(--text-color-darkblue);
}

p {
  padding: 0;
}

/*
==================
Navigation Style
==================
*/
nav {
  background-color: var(--nav-background-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}


/*
==================
Main Section
==================
*/
main {
  max-width: 840px;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

/*
==================
Aside Section
==================
*/
aside {
  position: relative;
  width: 20rem;
  text-align: var(--text-align);
}

aside h2{
  position: absolute;
  top: 47px;
  left:150px;
  color:white;
}

aside img {
  width: 200px;
  height: auto;
}

/*
==================
Footer Section
==================
*/
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: var(--text-align);
}


/* 
===========
Class Selectors
===========
*/
.box{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: #eee;
  color: #333;
}